:root {
    --primary-color: #66bfbf;
    --secondary-color: #f76b8a;
    --background-color: #eaf6f6;
    --tertiary-color: #fcfefe;
  }

/* Category */
.primary-category-container{
    position: sticky;
    position: -webkit-sticky;
    z-index: 7;
    top: 12%;
    display: block;
    max-width: 800px;
    margin: 1rem auto ;
}
.category-container{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}
.categoryBtn{
    
    padding: 0.3rem 0.7rem;
    margin: 0.5rem;
    /* border: 1px solid gray; */
    border-radius: 5px;
    background-color: var(--tertiary-color);
    box-shadow: 1px 1px 5px 2px gray;
    cursor: pointer;
}