:root {
  --primary-color: #66bfbf;
  --secondary-color: #f76b8a;
  --background-color: #eaf6f6;
  --tertiary-color: #fcfefe;
}

.home-container {
  background-color: var(--background-color);
}
.primary-container{
    display: flex;
    gap: 3rem;
    justify-content: space-around;
}
.post-container {
    max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: left;
  background-color: var(--tertiary-color);
  border-bottom: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.userDetails {
  display: flex;
  align-items: center;
}
.userImage {
  margin-right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 0.5px solid var(--primary-color);
}
.postImage {
  width: 400px;
}
