:root {
  --primary-color: #66bfbf;
  --secondary-color: #f76b8a;
  --background-color: #eaf6f6;
  --tertiary-color: #fcfefe;
}

.home-container {
  background-color: var(--background-color);
}
.primary-container {
  margin: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}

.container-format {
  background-color: var(--tertiary-color);
  border-bottom: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

/* Create post */
.createPost-container{
  margin-top: -1rem;
}
.createPost-textarea{
  width: 90%;
}
.createPost-button{
  margin: 1rem;
  padding: 1rem 3rem;
}

/* Link container */
.link-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.home-links {
  margin: 1rem;
  text-align: left;
  text-decoration: none;
  color: black;
}

/* Post container */
.post-container {
  max-width: 700px;
  margin: auto;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: left;
  box-shadow: 1px 1px 5px 2px gray;
}
.postImage-container{
  width: 400px;
  height: 300px;  
  display: block;
  margin: 1rem auto;
}
.postImage {
  width: 400px;
  height: 300px;  
  border-radius: 5px;
}

/* user container */
.user-heading{
  border-bottom: 1px solid var(--secondary-color);
  margin: -1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.user-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.userDetails {
  margin: 0 -1rem;
  padding: 0 1rem;
  display: flex;
  align-content: center;
  border-bottom: 1px solid var(--secondary-color);
}
.userDetails-margin {
  margin: 1rem auto;
  justify-content: space-between;
  gap: 1rem;
  border: none;
}
.userImage {
  margin-right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 0.5px solid var(--primary-color);
}
.userInfo {
  text-align: left;
  line-height: 2px;
}
.follow-user {
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.opertionalBtn,  .leftBtn{
  display: flex;
  justify-content: space-between;
}
.sign{
  padding: 0 1rem;
  cursor: pointer;
  font-size: larger
}
.redHeart{
  color: red;
}


/* userComment */
.userComment-container{
  display: flex;
}
.userComment-image{
  margin: 0 1rem;
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 20px;
}
.userComment-input{
  background-color: var(--tertiary-color);
  border: none;
}